In [11]:
import pandas as pd
import numpy as np
import os as os

In [13]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 98FA-EFFA

 Directory of C:\Users\gadam\anaconda

08-08-2024  14:20    <DIR>          .
03-08-2024  13:58    <DIR>          ..
08-08-2024  13:53    <DIR>          .ipynb_checkpoints
05-08-2024  12:05            16,467 arrays.ipynb
05-08-2024  00:01            25,002 control flow statements.ipynb
29-07-2024  13:07            30,764 data types and casting.ipynb
04-08-2024  12:46            46,523 dict.ipynb
05-08-2024  16:58            25,168 functions.ipynb
02-08-2024  12:51            54,745 list.ipynb
01-08-2024  13:12            28,393 operators and booleans .ipynb
29-07-2024  00:11            29,082 pyhtonintro.ipynb
02-08-2024  17:28            45,670 sets.ipynb
30-07-2024  00:11           117,996 strings.ipynb
02-08-2024  16:09            33,265 tuples.ipynb
05-08-2024  16:58            69,489 Untitled.ipynb
07-08-2024  17:04            83,282 Untitled1.ipynb
08-08-2024  14:20            11,162 Untitled2.ipynb
              14 File(s)        617,008 bytes
               3 Dir(s)  358,516,391,936 bytes free

In [17]:
df=pd.read_csv(r"C:\Users\gadam\OneDrive\Pictures\Desktop\becsent\ml_v1.csv")
df

,lead_id,created_at,advance_emi,assigned_to,c_state,p_state,hospitalObject.type,age,age_group,borrower.gender,...,speciality_id,state,submitted_by,subvention_percentage,subvention_product_id,surgery,surgery_id,turn_around_time.value,type,target
0,5357,05-06-2018,4,3394,Chandigarh,Chandigarh,super,46,4,male,...,58.0,first_contact_state,3393,4.0,16,Medical Treatment,339,47.0,phone,0
1,8744,07-08-2018,3,3394,Delhi,NaN,multi,33,2,male,...,1.0,consent_done,4031,10.0,5,Lower Segment Caesarean Section LSCS,1,17.0,offline_web,0
2,8996,13-08-2018,6,3394,Delhi,NaN,super,34,2,male,...,58.0,NaN,0,5.0,6,Medical Treatment,339,13.0,phone,0
3,9616,28-08-2018,6,3394,Maharashtra,Maharashtra,super,36,3,male,...,1.0,cpv_done,4283,8.5,6,In Vitro Fertilisation IVF,3,0.0,offline,0
4,9690,30-08-2018,3,3394,Chattisgarh,West Bengal,single_ivf,38,3,male,...,1.0,do_issue,4031,6.0,5,In Vitro Fertilisation IVF,3,14.0,whatsapp,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1419,47804,31-07-2019,8,3394,Punjab,Punjab,single_ivf,28,1,male,...,1.0,utr_awaited,33973,8.5,0,Test Tube Baby,191,0.0,offline,0
1420,47811,31-07-2019,5,3394,Delhi,Delhi,single_ivf,36,3,male,...,1.0,utr_awaited,10515,8.0,0,In Vitro Fertilisation IVF,3,0.0,online,0
1421,48006,31-07-2019,6,3394,Kerala,NaN,multi,32,2,male,...,71.0,utr_awaited,6012,6.0,0,Hair Transplant,346,0.0,offline,0
1422,48047,31-07-2019,2,3394,Uttarakhand,NaN,single_cosmetic,23,0,male,...,71.0,utr_awaited,15034,6.5,0,Hair Transplant,102,0.0,offline,0
1423,48096,31-07-2019,1,3394,Jharkhand,NaN,single_cosmetic,35,3,male,...,71.0,utr_awaited,36205,5.0,0,Hair Transplant,102,13.0,offline,0

In [19]:
df.head()

,lead_id,created_at,advance_emi,assigned_to,c_state,p_state,hospitalObject.type,age,age_group,borrower.gender,...,speciality_id,state,submitted_by,subvention_percentage,subvention_product_id,surgery,surgery_id,turn_around_time.value,type,target
0,5357,05-06-2018,4,3394,Chandigarh,Chandigarh,super,46,4,male,...,58.0,first_contact_state,3393,4.0,16,Medical Treatment,339,47.0,phone,0
1,8744,07-08-2018,3,3394,Delhi,NaN,multi,33,2,male,...,1.0,consent_done,4031,10.0,5,Lower Segment Caesarean Section LSCS,1,17.0,offline_web,0
2,8996,13-08-2018,6,3394,Delhi,NaN,super,34,2,male,...,58.0,NaN,0,5.0,6,Medical Treatment,339,13.0,phone,0
3,9616,28-08-2018,6,3394,Maharashtra,Maharashtra,super,36,3,male,...,1.0,cpv_done,4283,8.5,6,In Vitro Fertilisation IVF,3,0.0,offline,0
4,9690,30-08-2018,3,3394,Chattisgarh,West Bengal,single_ivf,38,3,male,...,1.0,do_issue,4031,6.0,5,In Vitro Fertilisation IVF,3,14.0,whatsapp,0

In [21]:
df.tail(5)

,lead_id,created_at,advance_emi,assigned_to,c_state,p_state,hospitalObject.type,age,age_group,borrower.gender,...,speciality_id,state,submitted_by,subvention_percentage,subvention_product_id,surgery,surgery_id,turn_around_time.value,type,target
1419,47804,31-07-2019,8,3394,Punjab,Punjab,single_ivf,28,1,male,...,1.0,utr_awaited,33973,8.5,0,Test Tube Baby,191,0.0,offline,0
1420,47811,31-07-2019,5,3394,Delhi,Delhi,single_ivf,36,3,male,...,1.0,utr_awaited,10515,8.0,0,In Vitro Fertilisation IVF,3,0.0,online,0
1421,48006,31-07-2019,6,3394,Kerala,NaN,multi,32,2,male,...,71.0,utr_awaited,6012,6.0,0,Hair Transplant,346,0.0,offline,0
1422,48047,31-07-2019,2,3394,Uttarakhand,NaN,single_cosmetic,23,0,male,...,71.0,utr_awaited,15034,6.5,0,Hair Transplant,102,0.0,offline,0
1423,48096,31-07-2019,1,3394,Jharkhand,NaN,single_cosmetic,35,3,male,...,71.0,utr_awaited,36205,5.0,0,Hair Transplant,102,13.0,offline,0